body{
    margin: 0;
}

.cabecalho{
    padding: 100px;
    background-color:white;
}

.sobre{
    
    background-color: #a0d2eb;
    padding: 100px;   
}

.textoExplicativo{
 display: flex;
}

.sobreMinutoEcologico{
    margin-left: 50px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.iconeCabecalho{
    width: 50px;
}

.podcast{
    padding: 150px;
    background-color: #cdeccc;
}

.rodape{
    background-color: black;
    padding: 25px;
    text-align: center;
    color: #a0d2ebeb;
}

.menu{
    position: fixed;
    top: 5%;
    right: 5%;
    margin-right: 10px;
    word-spacing: 10px;
}

.nomeProjetoNoCabecalho{
    margin: 3px;
    color: rgb(72, 158, 255);
    position: relative;
    font-weight: bold;
}


.pessoasEmSobre{
    width: 500px;
    margin: 0;
}

.menu{
  text-decoration:none; 
}


